* {
  margin: 0;
  padding: 0;
}

.desktop {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
  height: 97vh;
  background-image: url(./img/wallpaper.jpg);
  background-size: cover;
}

.taskbar {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 3vh;
  z-index: 5;
  background: linear-gradient(to bottom, #245edb 0%, #3f8cf3 9%, #245edb 18%, #245edb 92%, #333 100%) center/cover no-repeat;
}
.taskbar__time {
  display: block;
  align-self: center;
  color: white;
  margin-left: auto;
}

.taskbar__start {
  height: 100%;
  width: 90px;
  z-index: 5;
  background: radial-gradient(circle, #5eac56 0%, #3c873c 100%) center/cover no-repeat;
  box-shadow: 0px 5px 10px #79ce71 inset;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 0% 20px 20px 0%;
}

.app {
  margin: 10px 15px;
}

#app1 {
  background-color: red;
}

#app2 {
  background-color: green;
}

#app3 {
  background-color: blue;
}

.hidden {
  display: none;
}

.startmenu {
  display: flex;
  position: fixed;
  flex-direction: column;
  bottom: 27px;
  z-index: 1;
  width: 400px;
  height: 500px;
  background-color: #0c8dea;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 2px 6px 10px #333, -2px 0px 5px rgba(20, 20, 20, 0.6) inset, 2px 0px 3px #7fbce8 inset;
}
.startmenu__hidden {
  display: none;
}
.startmenu__pfp {
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  background-color: white;
  margin: 5px;
  color: white;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.startmenu__apps {
  background-image: url("./img/StartMenu.png");
  background-size: cover;
  width: 99%;
  height: 80%;
  justify-content: center;
}
.startmenu__buttons {
  display: flex;
  margin-top: 5px;
  flex-direction: row-reverse;
  margin-right: 15px;
  gap: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.startmenu__buttons__turnOff {
  height: 30px;
  width: 30px;
  background-color: red;
}
.startmenu__buttons__logOff {
  height: 30px;
  width: 30px;
  background-color: orange;
}
